@page "/"
@using CarShowcase.Models
@using CarShowcase.Services
@using CarShowcase.Components
@inject ICarService CarService

<PageTitle>Car Showcase - Premium Cars</PageTitle>

<HeroSection Title="Premium Car Showcase"
             Subtitle="Discover your dream car from our curated collection of premium vehicles"
             PrimaryButtonText="Browse Cars"
             PrimaryButtonUrl="/cars"
             PrimaryButtonIcon="list-rich"
             SecondaryButtonText="Learn More"
             SecondaryButtonUrl="#featured"
             SecondaryButtonIcon="info" />

<section id="featured" class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h2 class="display-5 fw-bold text-dark">Featured Cars</h2>
                <p class="lead text-muted">Hand-picked premium vehicles from our collection</p>
            </div>
        </div>

        @if (featuredCars == null)
        {
            <LoadingSpinner Message="Loading featured cars..." Size="SpinnerSize.Large" ShowCard="true" />
        }
        else
        {
            <div class="row">
                @foreach (var car in featuredCars.Take(3))
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <CarCard Car="car"
                                IsFeatured="true"
                                ShowQuickActions="true"
                                ButtonClass="btn-primary"
                                OnFavoriteClick="HandleFavoriteClick"
                                OnShareClick="HandleShareClick" />
                    </div>
                }
            </div>
        }
    </div>
</section>

@code {
    private List<Car>? featuredCars;

    protected override async Task OnInitializedAsync()
    {
        featuredCars = await CarService.GetAllCarsAsync();
    }

    private async Task HandleFavoriteClick(Car car)
    {
        // TODO: Implement favorite functionality
        await Task.CompletedTask;
    }

    private async Task HandleShareClick(Car car)
    {
        // TODO: Implement share functionality
        await Task.CompletedTask;
    }
}
